@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-primary display-4">Welcome</h1>
    <p>Kullanım kılavuzu</p>
</div>
<p>
    Merhabalar üst kısımda bulunan bölümlere tıklayarak bölümlere yeni kayıt ekleme silme düzenleme veya dataylı bir inceleme yapabilirsiniz.
</p>
